Left Rotate an Array by One 

Problem statement

Given an array 'arr' containing 'n' elements, rotate this array left once and return it.

Rotating the array left by one means shifting all elements by one place to the left and moving the first element to the last position in the array.

Example:

Input: 'a' = 5, 'arr' = [1, 2, 3, 4, 5]

Output: [2, 3, 4, 5, 1]

Explanation: We moved the 2nd element to the 1st position, and 3rd element to the 2nd position, and 4th element to the 3rd position, and the 5th element to the 4th position, and move the 1st element to the 5th position.

Detailed explanation ( Input/output format, Notes, Images )
Sample input 1:

4
5 7 3 2

Sample output 1:

7 3 2 5

Explanation of sample input 1:

Move the first element to the last and rest all the elements to the left.

Sample input 2:

5
4 0 3 2 5

Sample output 2:

0 3 2 5 4

Explanation of sample input 2:

Same as sample input 1, Move the first element to the last and rest all the elements to the left

Expected time complexity:

O( n ), Where ‘n’ is the size of an input array ‘arr’.

Constraints :

1 <= 'n' <= 10^5
1 <= 'arr[i] <= 10^9

Time Limit: 1 sec

---

give best time and space complexity code in rust,give variables usefull name, add comments to explain the code way more clear,also add code to run example case

---

To solve the problem of rotating an array left by one position, we can approach it in an efficient manner with both **O(n)** time complexity and **O(1)** space complexity.

### Approach:

1. **Problem Understanding**:
   - The task is to rotate the array left by one position. This means the first element of the array should move to the end of the array, and all other elements should shift one position to the left.
2. **Time and Space Complexity**:
   - **Time Complexity**: The time complexity is **O(n)**, where `n` is the size of the array. We are performing a single traversal of the array.
   - **Space Complexity**: The space complexity is **O(1)**, since the operation only involves modifying the array in-place and does not require additional storage proportional to the size of the array.

### Plan:

- **Rotation of the Array**: To rotate the array left by one position:
  1. Take the first element.
  2. Shift all other elements to the left.
  3. Insert the first element at the end.
- **In-place Operations**:
  - We can perform the rotation using a simple **in-place** technique by moving the first element to the last position and shifting the rest of the elements.

### Rust Code Implementation:

```rust
fn left_rotate_by_one(arr: &mut Vec<i32>) {
    // Check if the array has only one or zero elements
    if arr.len() <= 1 {
        return;
    }

    // Remove the first element and store it
    let first_element = arr.remove(0);

    // Push the first element to the end of the array
    arr.push(first_element);
}

fn main() {
    // Example 1
    let mut arr1 = vec![1, 2, 3, 4, 5];
    left_rotate_by_one(&mut arr1);
    println!("Array after left rotation by one: {:?}", arr1);  // Expected: [2, 3, 4, 5, 1]

    // Example 2
    let mut arr2 = vec![5, 7, 3, 2];
    left_rotate_by_one(&mut arr2);
    println!("Array after left rotation by one: {:?}", arr2);  // Expected: [7, 3, 2, 5]

    // Example 3
    let mut arr3 = vec![4, 0, 3, 2, 5];
    left_rotate_by_one(&mut arr3);
    println!("Array after left rotation by one: {:?}", arr3);  // Expected: [0, 3, 2, 5, 4]
}
```

### Explanation:

1. **`left_rotate_by_one` function**:
   - **Input**: A mutable reference to a `Vec<i32>`, which represents the array to be rotated.
   - **Output**: The same array after performing the left rotation by one position.
   - **Steps**:
     - We check if the array has one or zero elements. In such cases, no rotation is needed, so we simply return.
     - We remove the first element of the array using `arr.remove(0)`, which shifts all elements to the left by one position.
     - We then push the removed element to the end of the array using `arr.push(first_element)`.
2. **`main` function**:
   - We create three example arrays:
     - `arr1 = [1, 2, 3, 4, 5]`
     - `arr2 = [5, 7, 3, 2]`
     - `arr3 = [4, 0, 3, 2, 5]`
   - For each array, we call `left_rotate_by_one` to rotate it left by one position, and we print the result.

### Example Run Output:

```text
Array after left rotation by one: [2, 3, 4, 5, 1]
Array after left rotation by one: [7, 3, 2, 5]
Array after left rotation by one: [0, 3, 2, 5, 4]
```

### Optimization Discussion:

- The `arr.remove(0)` operation has a time complexity of **O(n)** since it shifts all remaining elements in the vector after the removal. This is the most efficient approach in terms of code simplicity, but it can be improved in terms of time complexity.

### Alternate Optimized Solution Using Array Shifting:

If you're aiming for optimal time complexity and can avoid expensive operations like `remove(0)`, you can implement the shift manually. Here’s an optimized version that avoids using `remove()` and `push()`:

```rust
fn left_rotate_by_one_optimized(arr: &mut Vec<i32>) {
    // Check if the array has only one or zero elements
    if arr.len() <= 1 {
        return;
    }

    // Perform the left rotation by moving the elements manually
    let first_element = arr[0];
    for i in 1..arr.len() {
        arr[i - 1] = arr[i];
    }
    arr[arr.len() - 1] = first_element;
}

fn main() {
    // Example 1
    let mut arr1 = vec![1, 2, 3, 4, 5];
    left_rotate_by_one_optimized(&mut arr1);
    println!("Optimized rotation: {:?}", arr1);  // Expected: [2, 3, 4, 5, 1]

    // Example 2
    let mut arr2 = vec![5, 7, 3, 2];
    left_rotate_by_one_optimized(&mut arr2);
    println!("Optimized rotation: {:?}", arr2);  // Expected: [7, 3, 2, 5]

    // Example 3
    let mut arr3 = vec![4, 0, 3, 2, 5];
    left_rotate_by_one_optimized(&mut arr3);
    println!("Optimized rotation: {:?}", arr3);  // Expected: [0, 3, 2, 5, 4]
}
```

### Optimized Approach Explanation:

- **Manual Shifting**: Instead of using `remove(0)` and `push()`, we manually shift the elements in the array to the left by one position using a loop. The first element is then placed at the last position.
- **Time Complexity**: The time complexity is still **O(n)**, but it avoids the overhead of `remove` and `push` operations, making it more efficient for larger arrays.

Let me know if you need any further clarifications!

In [2]:
fn left_rotate_by_one(arr: &mut Vec<i32>) {
    // Check if the array has only one or zero elements
    if arr.len() <= 1 {
        return;
    }
    
    // Remove the first element and store it
    let first_element = arr.remove(0);
    
    // Push the first element to the end of the array
    arr.push(first_element);
}

fn main() {
    // Example 1
    let mut arr1 = vec![1, 2, 3, 4, 5];
    left_rotate_by_one(&mut arr1);
    println!("Array after left rotation by one: {:?}", arr1);  // Expected: [2, 3, 4, 5, 1]
    
    // Example 2
    let mut arr2 = vec![5, 7, 3, 2];
    left_rotate_by_one(&mut arr2);
    println!("Array after left rotation by one: {:?}", arr2);  // Expected: [7, 3, 2, 5]
    
    // Example 3
    let mut arr3 = vec![4, 0, 3, 2, 5];
    left_rotate_by_one(&mut arr3);
    println!("Array after left rotation by one: {:?}", arr3);  // Expected: [0, 3, 2, 5, 4]
}

main()

Array after left rotation by one: [2, 3, 4, 5, 1]
Array after left rotation by one: [7, 3, 2, 5]
Array after left rotation by one: [0, 3, 2, 5, 4]

()

In [4]:
fn left_rotate_by_one_optimized(arr: &mut Vec<i32>) {
    // Check if the array has only one or zero elements
    if arr.len() <= 1 {
        return;
    }

    // Get the length of the array and store it in a local variable
    let len = arr.len();
    
    // Perform the left rotation by moving the elements manually
    let first_element = arr[0];
    for i in 1..len {
        arr[i - 1] = arr[i];
    }

    // Place the first element at the last position
    arr[len - 1] = first_element;
}

fn main() {
    // Example 1
    let mut arr1 = vec![1, 2, 3, 4, 5];
    left_rotate_by_one_optimized(&mut arr1);
    println!("Optimized rotation: {:?}", arr1);  // Expected: [2, 3, 4, 5, 1]
    
    // Example 2
    let mut arr2 = vec![5, 7, 3, 2];
    left_rotate_by_one_optimized(&mut arr2);
    println!("Optimized rotation: {:?}", arr2);  // Expected: [7, 3, 2, 5]
    
    // Example 3
    let mut arr3 = vec![4, 0, 3, 2, 5];
    left_rotate_by_one_optimized(&mut arr3);
    println!("Optimized rotation: {:?}", arr3);  // Expected: [0, 3, 2, 5, 4]
}

main()

Optimized rotation: [2, 3, 4, 5, 1]
Optimized rotation: [7, 3, 2, 5]
Optimized rotation: [0, 3, 2, 5, 4]

()

Hello, my name is Ramesh Kanna, and I am a passionate Python developer based in Puducherry, India. I specialize in backend development using frameworks like Django and FastAPI, with a strong focus on building scalable and high-performance web applications. My expertise extends to OCR (Optical Character Recognition) technologies, where I’ve successfully integrated multiple OCR engines such as Tesseract, EasyOCR, Google Document AI, and Azure OCR to develop robust text recognition solutions.

One of my notable projects involved the integration of PyLabelMe, an open-source annotation tool, with these OCR engines to streamline the data labeling and training processes for improving OCR accuracy. This allowed me to enhance the performance of custom-trained OCR models and create user-friendly applications that automate text extraction from images with high precision.

こんにちは、私の名前はラメシュ・カンナです。インドのプドゥチェリから来ました。私は主にバックエンド開発に情熱を持っており、Pythonを使ってウェブアプリケーションを構築しています。特にDjangoやFastAPI、REST APIの開発に強みがあります。また、データ構造とアルゴリズム（DSA）にも大きな興味があり、LeetCodeで200問以上の問題を解いた経験があります。これにより、効率的なコードの書き方や最適化手法について深く学びました。

日本語にも力を入れており、JLPT N3レベルを修了しています。これにより、日本語でのコミュニケーションが可能で、技術文書や会話を理解することができます。

学歴としては、電子通信工学の学士号を持っており、大学ではプログラミングやシステム開発に強い興味を持って学んでいました。

趣味としては、Rustプログラミングやカリステニクス（自重トレーニング）を通じて体力を鍛えることが好きです。また、機械学習にも興味を持っており、日々新しい技術を学びながらスキルを向上させています。

さらに、私の専門分野にはOCR（光学文字認識）技術もあります。Tesseract、EasyOCR、Google Document AI、Azure OCRなどの複数のOCRエンジンを統合し、堅牢なテキスト認識ソリューションを開発しています。

特に注力したプロジェクトの一つは、オープンソースのアノテーションツールであるPyLabelMeをOCRエンジンと統合し、データラベリングや学習プロセスを効率化することでした。これにより、カスタムトレーニングしたOCRモデルのパフォーマンス向上を実現し、高精度で画像からのテキスト抽出を自動化するユーザーフレンドリーなアプリケーションを作成しました。

今後は、バックエンド開発のスキルをさらに高め、チーム開発を通じて多くの技術的な挑戦に取り組んでいきたいと考えています。

どうぞよろしくお願いいたします。

All The Anime I Know
0:00-0:07 Chainsaw Man
0:08-0:09 Death Note
0:10-0:11 Black Bullet
0:12-0:13 Naruto Shippudden
0:13-0:16 Akame Ga Kill
0:18-0:19 Chainsaw Man
0:21-0:23 Mob Psycho 100
0:23-0:25 Hunter X Hunter
0:26-0:27 One Piece
0:28-0:30 Jujutsu Kaisen
0:30-0:32 86
0:33-0:35 Attack on Titan
0:36-0:38 Akiba Maid Sansou
0:38-0:39 Naruto Shippudden
0:39-0:40 Tsubasa of Dr. Stone
0:40-0:41 Shikimori is Not Just A Cutie
0:44 Attack on Titan
0:45 -0:53 My Hero Academia
0:54-0:57 Black Clover
0:58-1:01 Spectre Cinematic: A New Blade
1:02-1:08 Solo Leveling
1:08-1:10 Naruto Shippudden
1:10-1:15 Demon Slayer
1:15-1:19 Jujutsu Kaisen
1:20-1:23 Attack on Titan
1:24-1:26 Violet Evergarden
1:28 Blue Lock
1:30-1:47 Demon Slayer
1:47-1:50 Fire Force
1:50 Demon Slayer - Kimetsu No Yaiba - The Movie: Mugen Train
1:51-1:54 Tokyo Ghoul OVA: Jack
1:54-1:59 Demon Slayer
1:59-2:01 Fate Series. Not sure which one it is, but I'm
2:02 One Piece
2:04 Naruto Shippudden
2:05 Chainsaw Man
2:06 Naruto Shippudden
2:12-2:26 Jujutsu Kaisen 0
2:27-2:28 Dragon Ball Super
2:29 Demon Slayer
2:30 Fire Force
2:31-2:35 Hellsing
2:36-2:41 Chainsaw Man

That's great! Adding your goal to take the JLPT N1 level shows your commitment to mastering the language and integrating fully into Japanese society and work culture. Here’s how you could update your response to reflect that:

---

**Why do you want to work in Japan?**  
I’ve always been fascinated by Japan, particularly through its culture and entertainment. My love for Japanese anime was the initial spark that inspired me to learn the language. Over time, I discovered the world of bilingual engineers and realized how valuable it would be to combine my passion for technology with my Japanese language skills. I’ve already passed JLPT N3, and my goal is to continue improving my Japanese by taking the JLPT N1, which I hope to achieve in the near future. This will enable me to communicate even more effectively in a professional environment and immerse myself deeper in Japanese culture.  
I’m also drawn to Japan’s cutting-edge technology, particularly in AI, robotics, and software development, and I believe Japan would be an exciting place to grow as an engineer and contribute to the tech landscape.

On a personal level, I love Japanese food – especially seafood (niku yori sakana wa daisuki desu!). Oden, Sushi, tempura,takoyaki, onigiri, soba, udon, miso soup and other traditional dishes are some of my favorites. I’m also interested in Japanese fashion, particularly Harajuku style(lolita fashion), and districts like Akihabara have always fascinated me. One of my long-term dreams is to buy an _akiya_ (abandoned house) and restore it myself, blending my engineering skills with my appreciation for traditional Japanese architecture.

**How long do you plan to work in Japan?**  
As for how long I plan to work in Japan, I believe the future is full of possibilities, and I’m open to wherever it takes me. I’m committed to continuous learning and growth, both professionally and personally, in Japan. While I don’t have a specific timeline, I’m excited to see how long I can stay and contribute to the industry, while also experiencing and enjoying life in my dream country. I hope to stay as long as I continue to grow, both in my career and in my understanding of the culture.

---

By mentioning your ambition to take the JLPT N1, you're showing that you're serious about mastering Japanese, which adds a professional touch to your response. Your flexibility regarding how long you'll stay in Japan also reflects your open-minded approach to the future. How does that sound to you?

Why do you want to work in Japan?

I’ve always been fascinated by Japan, particularly through its culture and entertainment. My love for Japanese anime was the initial spark that inspired me to learn the language. Over time, I discovered the world of bilingual engineers and realized how valuable it would be to combine my passion for technology with my Japanese language skills. I’ve already passed NAT 3Q(JLPT N3 level), and my goal is to continue improving my Japanese by taking the JLPT N1, which I hope to achieve in the near future. This will enable me to communicate more effectively in a professional environment and immerse myself deeper in Japanese culture.

I’m particularly excited about Japan’s cutting-edge work in AI, robotics, and software development, and I believe Japan provides an ideal environment for growth as an engineer. I look forward to contributing to the tech landscape, especially in areas like [insert your specialization, e.g., machine learning, robotics, etc.], where Japan is a global leader.

On a personal level, I love Japanese food—especially seafood (niku yori sakana wa daisuki desu!). Oden, sushi, tempura, takoyaki, onigiri, soba, udon, and miso soup are just a few of my favorites. I’m also drawn to Japanese fashion, particularly Harajuku style (Lolita fashion), and districts like Akihabara have always fascinated me. 

One of my long-term dreams is to buy an akiya (abandoned house) and restore it myself, blending my engineering skills with my appreciation for traditional Japanese architecture. My father, who is a mason, has always inspired me with his craftsmanship and attention to detail, and I hope to carry that forward in my own work.

I’m also looking forward to immersing myself in Japan’s unique work culture, where precision, teamwork, and respect are valued, and contributing to that environment. I plan to continue learning and adapting to Japan's work and cultural norms while also seeking opportunities to participate in local events and tech meetups to further integrate into the community.

How long do you plan to work in Japan?
As for how long I plan to work in Japan, I believe the future is full of possibilities, and I’m open to wherever it takes me. I’m committed to continuous learning and growth, both professionally and personally, in Japan. While I don’t have a specific timeline, I’m excited to see how long I can stay and contribute to the industry, while also experiencing and enjoying life in my dream country. I hope to stay as long as I continue to grow, both in my career and in my understanding of the culture.

"I look forward to contributing to the tech landscape, especially in areas like Rust programming, systems programming, data structures and algorithms (DSA), and open-source software, where Japan is making significant strides. With Japan’s strong emphasis on precision and innovation, I believe I can contribute to the development of high-performance, reliable systems that push the boundaries of what's possible. I'm particularly excited about the potential to work on projects that integrate Rust’s memory safety and performance benefits into Japan's growing software ecosystem."

Your response is thoughtful and covers a broad range of reasons for wanting to work in Japan. I've made a few adjustments to improve clarity, flow, and accuracy while maintaining the overall tone and intent of your message.

---

**Why do you want to work in Japan?**

I’ve always been fascinated by Japan, particularly its culture and entertainment. My love for Japanese anime was the initial spark that inspired me to learn the language. Over time, I discovered the world of bilingual engineers and realized how valuable it would be to combine my passion for technology with my Japanese language skills. I’ve already passed the JLPT N3 level and am aiming to achieve JLPT N1 in the near future. This will enable me to communicate more effectively in a professional setting and deepen my immersion in Japanese culture.

I’m especially excited about Japan’s leading work in AI, robotics, and software development, and I believe the country offers an ideal environment for growth as an engineer. Japan’s focus on precision, innovation, and high-quality craftsmanship aligns with my aspirations to work on cutting-edge projects.

I am particularly eager to contribute to the tech landscape in areas like Rust programming, systems programming, data structures and algorithms (DSA), and open-source software. Japan’s growing software ecosystem, especially in these fields, offers an exciting opportunity to apply my skills. I’m especially interested in projects that integrate Rust’s memory safety and performance benefits into high-performance systems.

On a personal level, I have a deep appreciation for Japanese food—particularly seafood (niku yori sakana wa daisuki desu!). Oden, sushi, tempura, takoyaki, onigiri, soba, udon, and miso soup are just a few of my favorites. I’m also drawn to Japanese fashion, particularly Harajuku style (Lolita fashion), and districts like Akihabara have always fascinated me.

One of my long-term dreams is to buy an akiya (abandoned house) and restore it myself, combining my engineering skills with my love for traditional Japanese architecture. My father, who is a mason, has always inspired me with his craftsmanship and attention to detail, and I hope to carry that legacy forward in my own work.

I’m also looking forward to immersing myself in Japan’s unique work culture, where precision, teamwork, and respect are highly valued. I’m excited to contribute to that environment while continuously learning and adapting to Japanese work and cultural norms. I also hope to participate in local events and tech meetups to further integrate into the community.

**How long do you plan to work in Japan?**

As for how long I plan to work in Japan, I see the future as full of opportunities, and I’m open to where it leads. I’m committed to continuous growth, both professionally and personally, in Japan. While I don’t have a specific timeline, I’m excited to see how long I can stay, contribute to the industry, and enjoy life in my dream country. I hope to stay as long as I continue to grow in my career and deepen my understanding of Japanese culture.

---

I hope this version feels more polished while still reflecting your enthusiasm and passion for Japan. Let me know if you'd like any further adjustments!

AI is an incredibly exciting and transformative technology, and I believe it will play a major role in shaping my future career in both positive and negative ways.

### **Positive Impacts of AI on My Career:**

1. **Enhanced Productivity and Efficiency**:
   AI can automate many of the repetitive and time-consuming tasks in software development, such as code generation, bug detection, and even testing. This will allow me to focus more on the creative and problem-solving aspects of engineering, such as designing systems, architecture, and working on innovative projects. Tools like GitHub Copilot or other AI-powered code assistants are already starting to enhance the efficiency of developers, and I see this trend only increasing.

2. **Improved Software Development**:
   AI has the potential to greatly enhance the quality of software. With advancements in machine learning (ML) and deep learning (DL), AI can help developers create smarter, more adaptive systems. It will likely play a huge role in fields like AI-driven software optimization, predictive analytics, and creating more responsive and personalized user experiences. I’m excited about contributing to projects that integrate AI into products, especially in systems programming and open-source software.

3. **New Opportunities and Roles**:
   The rise of AI will lead to the creation of new job roles and industries that didn’t exist before. As a software engineer with an interest in Rust, I see huge opportunities in building secure, high-performance AI systems, particularly in domains like autonomous systems, robotics, and machine learning infrastructure. AI and machine learning will become a standard part of many industries, and I think being able to work with AI at a systems level will be a powerful and rewarding part of my career.

4. **Lifelong Learning**:
   AI’s rapid development requires professionals to continuously learn and adapt. This aligns well with my desire to keep growing both professionally and personally. It will push me to stay at the forefront of technology and keep learning about the newest advancements in fields like AI, quantum computing, and system design. Staying adaptable and curious will be key to making the most of AI's potential.

### **Negative Impacts of AI on My Career:**

1. **Job Displacement and Automation**:
   One of the potential downsides is the automation of certain tasks that could lead to job displacement. For example, AI could eventually automate aspects of software development, such as code generation or bug fixing, reducing the need for certain roles in programming. While I don’t foresee it eliminating the need for skilled engineers anytime soon, there could be shifts in job requirements, and certain tasks may become less relevant. This will require me to continuously evolve my skill set and adapt to new roles as technology progresses.

2. **Increased Competition**:
   As AI tools become more accessible, there will be greater competition in the job market, especially as more developers, including those with less experience, gain access to AI-powered code generation and tools. This could lead to a situation where AI-assisted engineers are competing with one another to solve complex problems, potentially driving down wages or creating a more saturated job market. To stay competitive, it will be essential to focus on areas where human creativity, innovation, and deep domain expertise are needed, such as system-level engineering and cutting-edge AI research.

3. **Ethical and Security Concerns**:
   As AI becomes more integrated into the systems we build, there are also challenges around AI ethics, security, and bias. AI models can reinforce biases, or be used in ways that compromise privacy and security. As a software engineer, I could find myself needing to navigate these complex issues, ensuring that AI is used responsibly. This will likely add an extra layer of responsibility to my work and require continuous learning in areas such as AI ethics and privacy law.

4. **Over-reliance on Automation**:
   While AI can make systems more efficient, there's a risk of over-reliance on AI-driven solutions, where we lose sight of the underlying principles of software engineering. If developers begin to trust AI too much without understanding its limitations, we could see an increase in poorly designed systems or faulty code. For me, it will be crucial to maintain a balance between leveraging AI tools and ensuring that I still have a deep understanding of the underlying technical concepts and principles.

### **Conclusion**:

Overall, I’m very optimistic about how AI will shape my career. It will present new opportunities for innovation, allow me to focus on more high-level problem-solving, and push me to continuously learn and adapt. However, I also recognize that AI will require me to stay on top of emerging trends, be aware of ethical implications, and ensure I remain competitive by focusing on skills that are uniquely human, such as creativity, critical thinking, and system-level design.

I see AI not as a replacement, but as a tool that will enable me to reach new heights in my career and contribute to the development of smarter, more reliable systems.

Absolutely, AI can be an incredibly effective teacher, and its potential as an educational tool is vast. Here's why I think AI can be one of the best teachers:

### 1. **Personalized Learning:**

AI can adapt to the learning style and pace of each individual. Unlike traditional teaching methods, where all students are taught at the same pace, AI can assess a learner's strengths and weaknesses and offer tailored lessons or exercises. This personalized approach can help people grasp complex concepts faster and in a way that suits their unique learning needs.

For example, in programming, AI-powered platforms like coding assistants (e.g., GitHub Copilot) can help provide real-time suggestions, explanations, and feedback on code, guiding learners step-by-step. Similarly, in language learning, AI apps like Duolingo adapt to the learner's skill level, providing tailored lessons that reinforce what needs improvement.

### 2. **Instant Feedback:**

One of the challenges of traditional education is waiting for feedback from a teacher, which can take time. With AI, learners can get immediate feedback on their performance, whether it's in solving math problems, writing code, or practicing a language. Instant corrections help learners understand their mistakes quickly and improve faster.

### 3. **24/7 Availability:**

AI never gets tired, and it's available anytime, anywhere. This is especially beneficial for people who are learning at their own pace or in different time zones. Whether it's an online course or a coding tutorial, AI can provide round-the-clock support, making it easy for learners to study whenever it's convenient for them.

### 4. **Scalable and Accessible:**

AI-driven educational tools make quality learning accessible to people around the world, regardless of location, language, or socioeconomic status. Platforms powered by AI can bring high-quality education to places where traditional educational resources might be lacking. This can help bridge the gap between different learning environments and democratize access to knowledge.

### 5. **Interactive Learning:**

AI can make learning more engaging and interactive. Through simulations, games, and virtual environments, learners can practice skills in dynamic, hands-on ways. For example, AI in fields like robotics or game development can provide interactive environments where learners can experiment with code and see the immediate results of their actions, fostering deeper understanding through trial and error.

### 6. **Data-Driven Insights:**

AI can analyze a learner's performance data over time and identify patterns or areas of difficulty. This allows AI to offer targeted suggestions for improvement and even predict future struggles before they become major obstacles. For example, if an AI system detects that a learner consistently struggles with a certain concept, it can offer additional resources or practice problems in that area.

### 7. **Encouraging Lifelong Learning:**

AI can make learning a continuous, lifelong process. Because it's so flexible and adaptable, it can meet the needs of learners at every stage of life—whether someone is learning a new skill, upgrading their career, or exploring a personal interest. This encourages people to keep learning throughout their lives, which is essential in today's fast-paced world of technological change.

### 8. **Multidisciplinary Knowledge:**

AI can synthesize and provide access to knowledge across many disciplines. A learner can use an AI-powered assistant not only for a specific subject but also for interdisciplinary learning. For instance, I could use AI to assist in programming (Rust, DSA), then seamlessly switch to learning about Japanese language and culture, or dive into philosophy or history. AI can be a bridge between various fields of knowledge.

---

### In Conclusion:

AI is revolutionizing education by offering personalized, scalable, and interactive learning experiences. It breaks down barriers to learning and provides tailored support, making it one of the best teachers available. Of course, AI doesn't replace human teachers but can serve as a valuable complement, helping to empower learners in ways traditional education may struggle to achieve. I think that, as AI continues to evolve, its role as a teacher will only become more integral to how we learn and grow in our careers and personal lives.

https://djtguide.neocities.org/anki

core 2k/6k anki deck

Moving to Japan on my own will undoubtedly be a significant change, but I’m excited to embrace the challenge and adapt to my new environment. I’ve spent a lot of time learning about Japan’s culture, language, and lifestyle, and while nothing can fully prepare you for living in a new country, I’ve thought about some strategies to help me settle in and thrive.

### **1. Embracing the Language and Culture:**

One of the most important steps in adapting to Japan will be immersing myself in the language and culture.

- **Language Skills**: I’ve already passed the JLPT N3 and I’m working towards N1. While Japanese people are generally understanding of non-native speakers, being able to speak the language will be key to building relationships, navigating daily life, and participating fully in the workplace. I plan to continue my studies and practice speaking as much as possible—whether through language exchange, formal classes, or even casual conversations with locals.
- **Cultural Understanding**: Japan has a unique work culture that emphasizes respect, hierarchy, and teamwork. I’m keen to learn the nuances of this, like how to bow appropriately, the importance of punctuality, and how to show respect in business settings. I’ll also take the time to observe and ask questions about cultural practices, such as the customs around gift-giving, table manners, and social interactions.

### **2. Building a Support Network:**

Living away from my family and familiar surroundings, having a strong support network will be crucial for adapting.

- **Connecting with Locals and Expats**: I plan to seek out opportunities to meet new people through local meetups, professional networks, and online communities. Tech meetups or developer conferences are a great place to start, as they will allow me to meet people with similar professional interests. Additionally, joining expat groups can provide emotional support and practical advice from people who have already made the transition.
- **Staying Connected with Family**: While I’ll be far from home, I’ll maintain regular communication with my family. With modern technology like video calls, I can still feel connected and share my experiences, which will help me feel supported even when I’m away.

### **3. Navigating New Foods and Lifestyle:**

Japan is famous for its food and lifestyle, and I’m genuinely excited to explore everything it has to offer. However, I know there will be some adjustments to make.

- **Exploring Japanese Cuisine**: I’ve always loved Japanese food—especially seafood, so I’m looking forward to diving deeper into the culinary world. I plan to experiment with different regional dishes, try street food, and explore local markets. While I’m excited to try new foods like oden, tempura, and ramen, I also recognize that I may face a learning curve with some ingredients or cooking methods that are different from what I’m used to. I'll also need to adjust to local food etiquettes (like using chopsticks properly and dining etiquette at restaurants). However, I’m looking forward to the adventure of trying new things!

- **Adapting to Daily Life**: Japan has a very different rhythm from what I’m used to in terms of lifestyle. From the efficiency of public transportation to the culture of clean and respectful spaces, I know there will be some things to get used to. For example, Japan’s emphasis on waste separation and recycling might require an adjustment, as it’s more detailed than in some other countries.

  I also look forward to adapting to Japan's fast-paced, yet considerate lifestyle, where respect for others in both public and private spaces is deeply ingrained. I know that living in a city like Tokyo or Osaka will be fast-paced, but I will also appreciate the quiet retreats like parks, temples, and cafes that offer a peaceful break from the hustle.

### **4. Embracing Work Culture and Professional Growth:**

Adapting to the workplace culture will be an essential part of my transition to Japan.

- **Learning Work Etiquette**: Japanese work culture is known for its emphasis on teamwork, hierarchy, and meticulous attention to detail. I’m excited to experience this firsthand, and I believe my background in systems programming and my focus on high-quality, reliable code will align well with Japan’s standards for precision and excellence. However, I will need to adjust to the more formal communication style and hierarchical structures within teams. I’m prepared to listen, learn, and adapt to these differences, especially in terms of communication and collaboration.

- **Building Professional Relationships**: In Japan, professional relationships are often built on trust and respect over time. I plan to be patient and proactive in getting to know my colleagues, asking questions, and showing genuine interest in the work we do together. I’ll also be mindful of the balance between being friendly and maintaining appropriate boundaries in a professional setting.

### **5. Adjusting to New Environment:**

Whether I’m living in a bustling city or a quieter town, adapting to the environment will take time, and I’ll approach this with an open mind.

- **Finding My Way Around**: Navigating a new city with a different address system, transportation networks, and local services will be a challenge at first. I plan to use tools like Google Maps, learn the routes to work, and get familiar with local supermarkets, shopping centers, and other essentials. I’m also excited to explore areas outside the major cities to get to know Japan’s rural regions and smaller towns, which have their own unique charm.

- **Adjusting to the Seasons**: Japan experiences four distinct seasons, and adjusting to the climate changes, especially the humidity in summer or the cold winters, will be an important part of my adaptation. I’ll need to adjust my wardrobe and daily routines accordingly, and learning about seasonal customs—such as celebrating cherry blossoms in spring or eating certain foods in winter—will enrich my experience.

### **6. Maintaining a Growth Mindset:**

I know that adapting to life in Japan will take time, and I plan to approach this transition with a growth mindset.

- **Learning Through Experience**: I expect that things won’t always go smoothly—there will be moments of frustration or cultural misunderstandings—but I’m ready to embrace these as part of the learning process. Whether it’s making a mistake in Japanese, fumbling with an unfamiliar custom, or not understanding a local sign, I plan to stay positive, ask for help when needed, and keep moving forward.

- **Self-Reflection and Patience**: Being away from home will also mean being independent in ways I haven’t experienced before. I’ll need to rely on my own judgment, stay adaptable, and give myself the grace to adjust at my own pace. It’s important to stay patient and remember that personal growth takes time.

---

### Conclusion:

Adapting to a new country, new people, and a new lifestyle will be a challenge, but it’s one that I’m excited to embrace. By continuously learning, building relationships, and being open to new experiences, I’m confident that I’ll be able to make Japan feel like home and thrive in both my personal and professional life. My curiosity, flexibility, and passion for learning will help me navigate this exciting new chapter, and I’m looking forward to all the growth and experiences that lie ahead.

https://kawsar34.medium.com/leetcode-30-days-of-pandas-part-3-of-3-3db3f3a41e5f

LeetCode has launched a study plan “30 days of Pandas”, with 33 questions to practice your Pandas skills. Here are the first 10 questions and their multiple solutions for you.

Problem 1: Leetcode Easy 595. Big Countries

Table: World
+-------------+---------+
| Column Name | Type |
+-------------+---------+
| name | varchar |
| continent | varchar |
| area | int |
| population | int |
| gdp | bigint |
+-------------+---------+

name is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country,
the continent to which it belongs, its area, the population,
and its GDP value.

A country is big if it has an area of at least three million (i.e., 3000000 km2), or it has a population of at least twenty-five million (i.e., 25000000). Write a solution to find the name, population, and area of the big countries. Return the result table in any order. The result format is in the following example.

Input:

World table:

+-------------+-----------+---------+------------+--------------+
| name | continent | area | population | gdp |
+-------------+-----------+---------+------------+--------------+
| Afghanistan | Asia | 652230 | 25500100 | 20343000000 |
| Albania | Europe | 28748 | 2831741 | 12960000000 |
| Algeria | Africa | 2381741 | 37100000 | 188681000000 |
| Andorra | Europe | 468 | 78115 | 3712000000 |
| Angola | Africa | 1246700 | 20609294 | 100990000000 |
+-------------+-----------+---------+------------+--------------+
Output:
+-------------+------------+---------+
| name | population | area |
+-------------+------------+---------+
| Afghanistan | 25500100 | 652230 |
| Algeria | 37100000 | 2381741 |
+-------------+------------+---------+

Solution:

import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:

    # filtering a dataframe based on multiple conditions
    world = world[(world["area"]>=3000000) | (world["population"]>=25000000)]

    return world[["name", "population", "area"]]

Problem 2: Leetcode Easy 1757. Recyclable and Low Fat Products

Table: Products
+-------------+---------+
| Column Name | Type |
+-------------+---------+
| product_id | int |
| low_fats | enum |
| recyclable | enum |
+-------------+---------+
product_id is the primary key (column with unique values) for this table.
low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.

Write a solution to find the ids of products that are both low fat and recyclable. Return the result table in any order. The result format is in the following example.

Input:
Products table:
+-------------+----------+------------+
| product_id | low_fats | recyclable |
+-------------+----------+------------+
| 0 | Y | N |
| 1 | Y | Y |
| 2 | N | Y |
| 3 | Y | Y |
| 4 | N | N |
+-------------+----------+------------+
Output:
+-------------+
| product_id |
+-------------+
| 1 |
| 3 |
+-------------+
Explanation: Only products 1 and 3 are both low fat and recyclable.

Solution:

import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:

    # filtering a dataframe based on multiple conditions
    df = products[(products["low_fats"]=="Y") & (products["recyclable"]=="Y")]

    return df[["product_id"]]

Problem 03: Leetcode Easy 183. Customers Who Never Order

Table: Customers
+-------------+---------+
| Column Name | Type |
+-------------+---------+
| id | int |
| name | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.

Table: Orders
+-------------+------+
| Column Name | Type |
+-------------+------+
| id | int |
| customerId | int |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.

Write a solution to find all customers who never order anything. Return the result table in any order. The result format is in the following example.

Input:
Customers table:
+----+-------+
| id | name |
+----+-------+
| 1 | Joe |
| 2 | Henry |
| 3 | Sam |
| 4 | Max |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1 | 3 |
| 2 | 1 |
+----+------------+
Output:
+-----------+
| Customers |
+-----------+
| Henry |
| Max |
+-----------+

Solution: pandas.unique, pandas.DataFrame.isin

import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:

    # find the list of customers who placed orders
    customer_list = orders["customerId"].unique().tolist()

    # remove the customers who never order
    customers = customers[~customers["id"].isin(customer_list)]

    # rename the column name
    customers = customers.rename(columns={"name": "Customers"})

    return customers[["Customers"]]

Problem 04: Leetcode Easy 1148. Article Views I

Table: Views
+---------------+---------+
| Column Name | Type |
+---------------+---------+
| article_id | int |
| author_id | int |
| viewer_id | int |
| view_date | date |
+---------------+---------+
There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date.
Note that equal author_id and viewer_id indicate the same person.

Write a solution to find all the authors who viewed at least one of their own articles. Return the result table sorted by id in ascending order. The result format is in the following example.

Input:
Views table:
+------------+-----------+-----------+------------+
| article_id | author_id | viewer_id | view_date |
+------------+-----------+-----------+------------+
| 1 | 3 | 5 | 2019-08-01 |
| 1 | 3 | 6 | 2019-08-02 |
| 2 | 7 | 7 | 2019-08-01 |
| 2 | 7 | 6 | 2019-08-02 |
| 4 | 7 | 1 | 2019-07-22 |
| 3 | 4 | 4 | 2019-07-21 |
| 3 | 4 | 4 | 2019-07-21 |
+------------+-----------+-----------+------------+
Output:
+------+
| id |
+------+
| 4 |
| 7 |
+------+

Solution 1:

import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:

    # create new column to identify the authors who viewed their own articles
    views["id"] = np.where(views["author_id"]==views["viewer_id"],
                           views["author_id"],
                           np.nan)

    return views[["id"]].dropna().drop_duplicates().sort_values(by="id")

Solution 2: pandas.DataFrame.drop_duplicates

import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:

    # filter to identify the authors who viewed their own articles
    df = views[views['author_id'] == views['viewer_id']]

    # remove duplicate authors
    df.drop_duplicates(subset=['author_id'], inplace=True)

    # sort by author_id in ascending order
    df.sort_values(by=['author_id'], inplace=True)

    df.rename(columns={'author_id':'id'}, inplace=True)

    return df[['id']]

Problem 05: Leetcode Easy 1683. Invalid Tweets

Table: Tweets
+----------------+---------+
| Column Name | Type |
+----------------+---------+
| tweet_id | int |
| content | varchar |
+----------------+---------+
tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15. Return the result table in any order. The result format is in the following example.

Input:
Tweets table:
+----------+----------------------------------+
| tweet_id | content |
+----------+----------------------------------+
| 1 | Vote for Biden |
| 2 | Let us make America great again! |
+----------+----------------------------------+
Output:
+----------+
| tweet_id |
+----------+
| 2 |
+----------+
Explanation:
Tweet 1 has length = 14. It is a valid tweet.
Tweet 2 has length = 32. It is an invalid tweet.

Solution: pandas.Series.str.len

import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:

    return tweets[tweets['content'].str.len()>15][["tweet_id"]]

Problem 06: Leetcode Easy 1873. Calculate Special Bonus

Table: Employees
+-------------+---------+
| Column Name | Type |
+-------------+---------+
| employee_id | int |
| name | varchar |
| salary | int |
+-------------+---------+
employee_id is the primary key (column with unique values) for this table.
Each row of this table indicates the employee ID, employee name, and salary.

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise. Return the result table ordered by employee_id. The result format is in the following example.

Input:
Employees table:
+-------------+---------+--------+
| employee_id | name | salary |
+-------------+---------+--------+
| 2 | Meir | 3000 |
| 3 | Michael | 3800 |
| 7 | Addilyn | 7400 |
| 8 | Juan | 6100 |
| 9 | Kannon | 7700 |
+-------------+---------+--------+
Output:
+-------------+-------+
| employee_id | bonus |
+-------------+-------+
| 2 | 0 |
| 3 | 0 |
| 7 | 7400 |
| 8 | 0 |
| 9 | 7700 |
+-------------+-------+
Explanation:
The employees with IDs 2 and 8 get 0 bonus because they have an even employee_id.
The employee with ID 3 gets 0 bonus because their name starts with 'M'.
The rest of the employees get a 100% bonus.

Solution 1:

import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:

    employees["bonus"] = np.where((employees["employee_id"] % 2 == 1) & (employees["name"].str[0]!="M"),
                                  employees["salary"],
                                  0)

    return employees[["employee_id", "bonus"]].sort_values(by="employee_id")

Solution 2: pandas.DataFrame.apply, lambda function

import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:

    employees['bonus'] = employees.apply(
        lambda x: x['salary'] if x['employee_id'] % 2 and not x['name'].startswith('M') else 0,
        axis=1
    )

    df = employees[['employee_id', 'bonus']].sort_values('employee_id')
    return df

Problem 07: Leetcode Easy 1667. Fix Names in a Table

Table: Users
+----------------+---------+
| Column Name | Type |
+----------------+---------+
| user_id | int |
| name | varchar |
+----------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase. Return the result table ordered by user_id. The result format is in the following example.

Input:
Users table:
+---------+-------+
| user_id | name |
+---------+-------+
| 1 | aLice |
| 2 | bOB |
+---------+-------+
Output:
+---------+-------+
| user_id | name |
+---------+-------+
| 1 | Alice |
| 2 | Bob |
+---------+-------+

Solution 1: pandas.Series.str.capitalize

import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:

    users["name"] = users["name"].str.capitalize()

    return users.sort_values(by="user_id")

Solution 2:

import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:

    users["name"] = users["name"].apply(lambda x: x.capitalize())

    return users.sort_values(by="user_id")

Solution 3: pandas.Series.str.upper, pandas.Series.str.lower

import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:

    users["name"] = users["name"].str[0].str.upper() + users["name"].str[1:].str.lower()

    return users.sort_values("user_id")

Problem 08: Leetcode Easy 1517. Find Users With Valid E-Mails

Table: Users
+---------------+---------+
| Column Name | Type |
+---------------+---------+
| user_id | int |
| name | varchar |
| mail | varchar |
+---------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains information of the users signed up in a website. Some e-mails are invalid.

Write a solution to find the users who have valid emails. A valid e-mail has a prefix name and a domain where:

    The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
    The domain is '@leetcode.com'.

Return the result table in any order. The result format is in the following example.

Input:
Users table:
+---------+-----------+-------------------------+
| user_id | name | mail |
+---------+-----------+-------------------------+
| 1 | Winston | winston@leetcode.com |
| 2 | Jonathan | jonathanisgreat |
| 3 | Annabelle | bella-@leetcode.com |
| 4 | Sally | sally.come@leetcode.com |
| 5 | Marwan | quarz#2020@leetcode.com |
| 6 | David | david69@gmail.com |
| 7 | Shapiro | .shapo@leetcode.com |
+---------+-----------+-------------------------+
Output:
+---------+-----------+-------------------------+
| user_id | name | mail |
+---------+-----------+-------------------------+
| 1 | Winston | winston@leetcode.com |
| 3 | Annabelle | bella-@leetcode.com |
| 4 | Sally | sally.come@leetcode.com |
+---------+-----------+-------------------------+
Explanation:
The mail of user 2 does not have a domain.
The mail of user 5 has the # sign which is not allowed.
The mail of user 6 does not have the leetcode domain.
The mail of user 7 starts with a period.

Solution: pandas.Series.str.match

import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:

    users = users[users["mail"].str.match('^[a-zA-Z][a-zA-Z0-9_.-]*@leetcode[.]com$')]

    return users

Problem 09: Leetcode Easy 1527. Patients With a Condition

Table: Patients
+--------------+---------+
| Column Name | Type |
+--------------+---------+
| patient_id | int |
| patient_name | varchar |
| conditions | varchar |
+--------------+---------+
patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces.
This table contains information of the patients in the hospital.

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix. Return the result table in any order. The result format is in the following example.

Input:
Patients table:
+------------+--------------+--------------+
| patient_id | patient_name | conditions |
+------------+--------------+--------------+
| 1 | Daniel | YFEV COUGH |
| 2 | Alice | |
| 3 | Bob | DIAB100 MYOP |
| 4 | George | ACNE DIAB100 |
| 5 | Alain | DIAB201 |
+------------+--------------+--------------+
Output:
+------------+--------------+--------------+
| patient_id | patient_name | conditions |
+------------+--------------+--------------+
| 3 | Bob | DIAB100 MYOP |
| 4 | George | ACNE DIAB100 |
+------------+--------------+--------------+
Explanation: Bob and George both have a condition that starts with DIAB1.

Solution 1: pandas.Series.str.contains

import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:

    return patients[patients["conditions"].str.contains(r'\bDIAB1\w*\b')]

Solution 2: pandas.Series.str.startswith

import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
return patients[patients["conditions"].str.startswith("DIAB1") | patients["conditions"].str.contains(" DIAB1", regex=False)]

Problem 10: Leetcode Medium 2738. Count Occurrences in Text

Table: Files
+-------------+---------+
| Column Name | Type |
+-- ----------+---------+
| file_name | varchar |
| content | text |
+-------------+---------+
file_name is the column with unique values of this table.
Each row contains file_name and the content of that file.

Write a solution to find the number of files that have at least one occurrence of the words ‘bull’ and ‘bear’ as a standalone word, respectively, disregarding any instances where it appears without space on either side (e.g. ‘bullet’, ‘bears’, ‘bull.’, or ‘bear’ at the beginning or end of a sentence will not be considered). Return the word ‘bull’ and ‘bear’ along with the corresponding number of occurrences in any order. The result format is in the following example.

Input:
Files table:
+------------+----------------------------------------------------------------------------------+
| file_name | content |
+------------+----------------------------------------------------------------------------------+
| draft1.txt | The stock exchange predicts a bull market which would make many investors happy. |
| draft2.txt | The stock exchange predicts a bull market which would make many investors happy, |
| | but analysts warn of possibility of too much optimism and that in fact we are |
| | awaiting a bear market. |
| draft3.txt | The stock exchange predicts a bull market which would make many investors happy, |
| | but analysts warn of possibility of too much optimism and that in fact we are |
| | awaiting a bear market. As always predicting the future market is an uncertain |
| | game and all investors should follow their instincts and best practices. |
+------------+----------------------------------------------------------------------------------+
Output:
+------+-------+
| word | count |  
+------+-------+
| bull | 3 |
| bear | 2 |
+------+-------+
Explanation:

- The word "bull" appears 1 time in "draft1.txt", 1 time in "draft2.txt", and 1 time in "draft3.txt". Therefore, the total number of occurrences for the word "bull" is 3.
- The word "bear" appears 1 time in "draft2.txt", and 1 time in "draft3.txt". Therefore, the total number of occurrences for the word "bear" is 2.

Solution 1: numpy.where

import pandas as pd

def count_occurrences(files: pd.DataFrame) -> pd.DataFrame:
files["bull"] = np.where(files["content"].str.contains(" bull "), 1, 0)
files["bear"] = np.where(files["content"].str.contains(" bear "), 1, 0)

    output = pd.DataFrame(files[["bull", "bear"]].sum().reset_index())
    output = output.rename(columns={"index": "word", 0: "count"})

    return output

Solution 2: pandas.Series.str.contains

import pandas as pd

def count_occurrences(files: pd.DataFrame) -> pd.DataFrame:

    bull_count = files[files["content"].str.contains(r"(\s+bull\s+)",
                       regex=True, case=False)]["file_name"].nunique()

    bear_count = files[files["content"].str.contains(r"(\s+bear\s+)",
                       regex=True, case=False)]["file_name"].nunique()

    data = {"word": ["bull", "bear"],
            "count": [bull_count, bear_count]}

    return pd.DataFrame(data)

Solution 3:

import pandas as pd

def count_occurrences(files: pd.DataFrame) -> pd.DataFrame:

    bull_count = files["content"].str.contains(" bull ", case=False).sum()
    bear_count = files["content"].str.contains(" bear ", case=False).sum()

    data = {"word": ["bull", "bear"], "count": [bull_count, bear_count]}

    return pd.DataFrame(data)

LeetCode has launched a study plan “30 days of Pandas”, with 33 questions to practice your Pandas skills. I have already discussed problems 1 to 10 here. Today I will discuss problems 11 to 20 and their multiple solutions using pandas.

Problem 11: Leetcode medium 177. Nth Highest Salary

Table: Employee
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null. The result format is in the following example.

Example 1:
Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+

Example 2:
Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+

Solution: pandas.DataFrame.rank

import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    
    # remove the duplicate rows based on the 'salary' column
    df = employee.drop_duplicates(subset='salary')

    # create a new column rank based on the 'salary' column
    # highest salary will rank as 1
    df['rank'] = df['salary'].rank(method='dense', ascending=False)

    # filter the N-th rank 'salary'
    df = df[df["rank"] == N][['salary']]

    # if N-th rank is not present, return None
    if df.shape[0] == 0:
        return pd.DataFrame({'getNthHighestSalary('+str(N)+')': [None]})

    # rename the column names according to the output data structure
    df = df.rename(columns={'salary':'getNthHighestSalary('+str(N)+')'})

    return df

Problem 12: Leetcode medium 176. Second Highest Salary

Table: Employee
+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.

Write a solution to find the second-highest salary from the Employee table. If there is no second-highest salary, return null (return None in Pandas). The result format is in the following example.

Example 1:
Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| 200                 |
+---------------------+

Example 2:
Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
Output: 
+---------------------+
| SecondHighestSalary |
+---------------------+
| null                |
+---------------------+

Solution 1:

import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    
    # find the unique salaries in a list
    salary_list = employee["salary"].unique()

    # if the length if the salary_list is less than or equal 1, return None
    if len(salary_list)<=1:
        return pd.DataFrame({"SecondHighestSalary": [None]})
    else:
        # by default 'sorted' is ascending
        # second highest salary == second last element in the sorted list
        return pd.DataFrame({"SecondHighestSalary": [sorted(salary_list)[-2]]})

Solution 2:

import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    
    # drop any duplicate salaries
    employee = employee.drop_duplicates(["salary"])
    
    # if there are less than two unique salaries, return 'np.NaN'.
    if len(employee["salary"].unique()) < 2:
        return pd.DataFrame({"SecondHighestSalary": [np.NaN]})
    
    # sort the table by "salary" in descending order.
    employee = employee.sort_values("salary", ascending=False)
    
    # drop the "id" column.
    employee.drop("id", axis=1, inplace=True)
    
    # rename the "salary" column.
    employee.rename({"salary": "SecondHighestSalary"}, axis=1, inplace=True)
    
    # return the second highest salary.
    return employee.head(2).tail(1)

Problem 13: Leetcode medium 184. Department Highest Salary

Table: Employee
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.

Table: Department
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.

Write a solution to find employees with the highest salary in each department. Return the result table in any order. The result format is in the following example.

Input: 
Employee table:
+----+-------+--------+--------------+
| id | name  | salary | departmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
Department table:
+----+-------+
| id | name  |
+----+-------+
| 1  | IT    |
| 2  | Sales |
+----+-------+
Output: 
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |
+------------+----------+--------+
Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.

Solution 1: pandas.DataFrame.merge, pandas.DataFrame.transform

import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
  
    # create a new column with the max salary for each department
    employee["max_salary"] = employee.groupby("departmentId")["salary"].transform('max')
    
    # filter the rows with department-wise highest salary
    employee = employee[employee["salary"] == employee["max_salary"]]

    # left join employee with department
    employee = employee.merge(department, 
                              how="left", 
                              left_on="departmentId", 
                              right_on="id")

    # rename the column names
    employee = employee.rename(columns={"name_x": "Employee", 
                                        "name_y": "Department", 
                                        "salary": "Salary"})
    
    return employee[["Department", "Employee", "Salary"]]

Solution 2:

import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    
    # merge tables and rename
    df = employee.merge(department, left_on='departmentId', right_on='id', how='left')
    
    # rename the column names
    df.rename(columns={'name_x': 'Employee', 'name_y': 'Department', 'salary': 'Salary'}, inplace=True)
    
    # select employees whose salary is equal to the department highest salary
    max_salary = df.groupby('Department')['Salary'].transform('max')
    df = df[df['Salary'] == max_salary]
    
    return df[['Department', 'Employee', 'Salary']]

Problem 14: Leetcode medium 178. Rank Scores

Table: Scores
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| score       | decimal |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains the score of a game. Score is a floating point value with two decimal places.

Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:

    The scores should be ranked from the highest to the lowest.
    If there is a tie between two scores, both should have the same ranking.
    After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by score in descending order. The result format is in the following example.

Input: 
Scores table:
+----+-------+
| id | score |
+----+-------+
| 1  | 3.50  |
| 2  | 3.65  |
| 3  | 4.00  |
| 4  | 3.85  |
| 5  | 4.00  |
| 6  | 3.65  |
+----+-------+
Output: 
+-------+------+
| score | rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 2    |
| 3.65  | 3    |
| 3.65  | 3    |
| 3.50  | 4    |
+-------+------+

Solution: pandas.DataFrame.rank

import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:

    scores['rank'] = scores['score'].rank(method = 'dense', ascending = False) 
    
    return scores[['score','rank']].sort_values(by= 'score', ascending = False)

Problem 15: Leetcode Easy 196. Delete Duplicate Emails

Table: Person
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| email       | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id. For Pandas users, please note that you are supposed to modify Person in place. After running your script, the answer shown is the Person table. The driver will first compile and run your code and then show the Person table. The final order of the Person table does not matter. The result format is in the following example.

Input: 
Person table:
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
+----+------------------+
Output: 
+----+------------------+
| id | email            |
+----+------------------+
| 1  | john@example.com |
| 2  | bob@example.com  |
+----+------------------+
Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.

Solution 1: pandas.DataFrame.drop_duplicates, pandas.DataFrame.sort_values

import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:

    # sort the dataframe based on the id column in ascending order
    person.sort_values(by="id", ascending=True, inplace=True)

    # remove the duplicate emails and keep the first email with smallest id
    person.drop_duplicates(subset=["email"], keep="first", inplace=True)

Solution 2: pandas.DataFrame.groupby, pandas.DataFrame.drop

import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:

    # for each email find the smallest id
    min_id = person.groupby('email')['id'].transform('min')

    # separate the rows except smallest id
    removed_person = person[person['id'] != min_id] 

    # remove the rows except smallest id
    person.drop(removed_person.index, inplace=True)

Problem 16: Leetcode Easy 1795. Rearrange Products Table

Table: Products
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_id  | int     |
| store1      | int     |
| store2      | int     |
| store3      | int     |
+-------------+---------+
product_id is the primary key (column with unique values) for this table.
Each row in this table indicates the product's price in 3 different stores: store1, store2, and store3.
If the product is not available in a store, the price will be null in that store's column.

Write a solution to rearrange the Products table so that each row has (product_id, store, price). If a product is not available in a store, do not include a row with that product_id and store combination in the result table. Return the result table in any order. The result format is in the following example.

Input: 
Products table:
+------------+--------+--------+--------+
| product_id | store1 | store2 | store3 |
+------------+--------+--------+--------+
| 0          | 95     | 100    | 105    |
| 1          | 70     | null   | 80     |
+------------+--------+--------+--------+
Output: 
+------------+--------+-------+
| product_id | store  | price |
+------------+--------+-------+
| 0          | store1 | 95    |
| 0          | store2 | 100   |
| 0          | store3 | 105   |
| 1          | store1 | 70    |
| 1          | store3 | 80    |
+------------+--------+-------+
Explanation: 
Product 0 is available in all three stores with prices 95, 100, and 105 respectively.
Product 1 is available in store1 with price 70 and store3 with price 80. The product is not available in store2.

Solution: pandas.melt

import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:

    return pd.melt(products,
                   id_vars=["product_id"], 
                   value_vars=["store1", "store2", "store3"], 
                   var_name='store', 
                   value_name='price').dropna()

Problem 17: Leetcode Easy 2082 The Number of Rich Customers

Table: Store
+-------------+------+
| Column Name | Type |
+-------------+------+
| bill_id     | int  |
| customer_id | int  |
| amount      | int  |
+-------------+------+
bill_id is the primary key (column with unique values) for this table.
Each row contains information about the amount of one bill and the customer associated with it.

Write a solution to report the number of customers who had at least one bill with an amount strictly greater than 500. The result format is in the following example.

Input: 
Store table:
+---------+-------------+--------+
| bill_id | customer_id | amount |
+---------+-------------+--------+
| 6       | 1           | 549    |
| 8       | 1           | 834    |
| 4       | 2           | 394    |
| 11      | 3           | 657    |
| 13      | 3           | 257    |
+---------+-------------+--------+
Output: 
+------------+
| rich_count |
+------------+
| 2          |
+------------+
Explanation: 
Customer 1 has two bills with amounts strictly greater than 500.
Customer 2 does not have any bills with an amount strictly greater than 500.
Customer 3 has one bill with an amount strictly greater than 500.

Solution 1: pandas.unique

import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:

    store = store[store["amount"]>500]

    return pd.DataFrame({"rich_count": [len(store["customer_id"].unique())]})

Solution 2: pandas.DataFrame.nunique

import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:

    rich = store[store['amount'] > 500]['customer_id'].nunique()

    return pd.DataFrame({'rich_count': [rich]})

Problem 18: Leetcode Easy 1173. Immediate Food Delivery I

Table: Delivery
+-----------------------------+---------+
| Column Name                 | Type    |
+-----------------------------+---------+
| delivery_id                 | int     |
| customer_id                 | int     |
| order_date                  | date    |
| customer_pref_delivery_date | date    |
+-----------------------------+---------+
delivery_id is the primary key (column with unique values) of this table.
The table holds information about food delivery to customers that make orders at some date and specify a preferred delivery date (on the same order date or after it).

If the customer’s preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled. Write a solution to find the percentage of immediate orders in the table, rounded to 2 decimal places. The result format is in the following example.

Input: 
Delivery table:
+-------------+-------------+------------+-----------------------------+
| delivery_id | customer_id | order_date | customer_pref_delivery_date |
+-------------+-------------+------------+-----------------------------+
| 1           | 1           | 2019-08-01 | 2019-08-02                  |
| 2           | 5           | 2019-08-02 | 2019-08-02                  |
| 3           | 1           | 2019-08-11 | 2019-08-11                  |
| 4           | 3           | 2019-08-24 | 2019-08-26                  |
| 5           | 4           | 2019-08-21 | 2019-08-22                  |
| 6           | 2           | 2019-08-11 | 2019-08-13                  |
+-------------+-------------+------------+-----------------------------+
Output: 
+----------------------+
| immediate_percentage |
+----------------------+
| 33.33                |
+----------------------+
Explanation: The orders with delivery id 2 and 3 are immediate while the others are scheduled.

Solution 1: numpy.where

import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    
    # find the immediate orders
    delivery["immediate"] = np.where(delivery["order_date"] == delivery["customer_pref_delivery_date"], 1, 0)

    return pd.DataFrame({"immediate_percentage": [np.round((delivery["immediate"].mean()*100), 2)]})

Solution 2:

import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    is_immediate = delivery['order_date'] == delivery['customer_pref_delivery_date']
    
    # Count the number of immediate orders and the number of all orders.
    valid_count = is_immediate.sum()
    total_count = len(delivery)

    # Round the percentage to 2 decimal places.
    percentage = round(100 * valid_count / total_count, 2)

    df = pd.DataFrame({'immediate_percentage': [percentage]})
    return df

Problem 19: Leetcode Medium 1907. Count Salary Categories

Table: Accounts
+-------------+------+
| Column Name | Type |
+-------------+------+
| account_id  | int  |
| income      | int  |
+-------------+------+
account_id is the primary key (column with unique values) for this table.
Each row contains information about the monthly income for one bank account.

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

    "Low Salary": All the salaries are strictly less than $20000.
    "Average Salary": All the salaries in the inclusive range [$20000, $50000].
    "High Salary": All the salaries strictly greater than $50000.

The result table must contain all three categories. If there are no accounts in a category, return 0. Return the result table in any order. The result format is in the following example.

Input: 
Accounts table:
+------------+--------+
| account_id | income |
+------------+--------+
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |
+------------+--------+
Output: 
+----------------+----------------+
| category       | accounts_count |
+----------------+----------------+
| Low Salary     | 1              |
| Average Salary | 0              |
| High Salary    | 3              |
+----------------+----------------+
Explanation: 
Low Salary: Account 2.
Average Salary: No accounts.
High Salary: Accounts 3, 6, and 8.

Solution 1:

import pandas as pd
import numpy as np

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:

    df = pd.DataFrame()
    
    # create categories
    df["category"] = ["Low Salary", "Average Salary", "High Salary"]

    # count number of accounts in each category
    df["accounts_count"] = [sum(accounts["income"]<20000), 
                            sum((accounts["income"]>=20000) & (accounts["income"]<=50000)),
                            sum(accounts["income"]>50000)]

    return df

Solution 2:

import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:

    low_count = (accounts['income'] < 20000).sum()
    average_count = ((accounts['income'] >= 20000) & (accounts['income'] <= 50000)).sum()
    high_count = (accounts['income'] > 50000).sum()

    ans = pd.DataFrame({
        'category': ['Low Salary', 'Average Salary', 'High Salary'],
        'accounts_count': [low_count, average_count, high_count]
    })

    return ans

Problem 20: Leetcode Easy 1322 Ads Performance

Table: Ads
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| ad_id         | int     |
| user_id       | int     |
| action        | enum    |
+---------------+---------+
(ad_id, user_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the ID of an Ad, the ID of a user, and the action taken by this user regarding this Ad.
The action column is an ENUM (category) type of ('Clicked', 'Viewed', 'Ignored').

A company is running Ads and wants to calculate the performance of each Ad. Performance of the Ad is measured using Click-Through Rate (CTR) where:

Write a solution to find the ctr of each Ad. Round ctr to two decimal points. Return the result table ordered by ctr in descending order and ad_id in ascending order in case of a tie. The result format is in the following example.

Input: 
Ads table:
+-------+---------+---------+
| ad_id | user_id | action  |
+-------+---------+---------+
| 1     | 1       | Clicked |
| 2     | 2       | Clicked |
| 3     | 3       | Viewed  |
| 5     | 5       | Ignored |
| 1     | 7       | Ignored |
| 2     | 7       | Viewed  |
| 3     | 5       | Clicked |
| 1     | 4       | Viewed  |
| 2     | 11      | Viewed  |
| 1     | 2       | Clicked |
+-------+---------+---------+
Output: 
+-------+-------+
| ad_id | ctr   |
+-------+-------+
| 1     | 66.67 |
| 3     | 50.00 |
| 2     | 33.33 |
| 5     | 0.00  |
+-------+-------+
Explanation: 
for ad_id = 1, ctr = (2/(2+1)) * 100 = 66.67
for ad_id = 2, ctr = (1/(1+2)) * 100 = 33.33
for ad_id = 3, ctr = (1/(1+1)) * 100 = 50.00
for ad_id = 5, ctr = 0.00, Note that ad_id = 5 has no clicks or views.
Note that we do not care about Ignored Ads.

Solution:

import pandas as pd

def ads_performance(ads: pd.DataFrame) -> pd.DataFrame:
    # Group by 'ad_id' and calculate the CTR for each group
    ctr = ads.groupby('ad_id')['action'].apply(
        lambda x: round(
            (sum(x == 'Clicked') / (sum(x == 'Clicked') + sum(x == 'Viewed')) * 100) if (sum(x == 'Clicked') + sum(x == 'Viewed')) > 0 else 0.00, 
            2
        )
    ).reset_index()

    # Rename the column to 'ctr'
    ctr.columns = ['ad_id', 'ctr']
    
    # Sort the results by 'ctr' in descending order and by 'ad_id' in ascending order
    result = ctr.sort_values(by=['ctr', 'ad_id'], ascending=[False, True])

    return result

LeetCode has launched a study plan “30 days of Pandas”, with 33 questions to practice your Pandas skills. I have already discussed problems 1 to 10 in part 1 and problems 11 to 20 in part 2. Today I will discuss problems 21 to 33 and their multiple solutions using pandas.

Problem 21: Leetcode Easy 1741. Find Total Time Spent by Each Employee

Table: Employees
+-------------+------+
| Column Name | Type |
+-------------+------+
| emp_id      | int  |
| event_day   | date |
| in_time     | int  |
| out_time    | int  |
+-------------+------+
(emp_id, event_day, in_time) is the primary key (combinations of columns with unique values) of this table.
The table shows the employees' entries and exits in an office.
event_day is the day at which this event happened, in_time is the minute at which the employee entered the office, and out_time is the minute at which they left the office.
in_time and out_time are between 1 and 1440.
It is guaranteed that no two events on the same day intersect in time, and in_time < out_time.

Write a solution to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time. Return the result table in any order. The result format is in the following example.

Input: 
Employees table:
+--------+------------+---------+----------+
| emp_id | event_day  | in_time | out_time |
+--------+------------+---------+----------+
| 1      | 2020-11-28 | 4       | 32       |
| 1      | 2020-11-28 | 55      | 200      |
| 1      | 2020-12-03 | 1       | 42       |
| 2      | 2020-11-28 | 3       | 33       |
| 2      | 2020-12-09 | 47      | 74       |
+--------+------------+---------+----------+
Output: 
+------------+--------+------------+
| day        | emp_id | total_time |
+------------+--------+------------+
| 2020-11-28 | 1      | 173        |
| 2020-11-28 | 2      | 30         |
| 2020-12-03 | 1      | 41         |
| 2020-12-09 | 2      | 27         |
+------------+--------+------------+
Explanation: 
Employee 1 has three events: two on day 2020-11-28 with a total of (32 - 4) + (200 - 55) = 173, and one on day 2020-12-03 with a total of (42 - 1) = 41.
Employee 2 has two events: one on day 2020-11-28 with a total of (33 - 3) = 30, and one on day 2020-12-09 with a total of (74 - 47) = 27.

Solution:

import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:

    # calculate the time spent in each entry
    employees["total_time"] = employees["out_time"]  - employees["in_time"] 

    # for each event_day, sum the total time spent in the office
    df = employees.groupby(["event_day", "emp_id"])["total_time"].sum()

    return df.reset_index().rename(columns={"event_day": "day"})

Problem 22: Leetcode Easy 511. Game Play Analysis I

Table: Activity
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| player_id    | int     |
| device_id    | int     |
| event_date   | date    |
| games_played | int     |
+--------------+---------+
(player_id, event_date) is the primary key (combination of columns with unique values) of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.

Write a solution to find the first login date for each player. Return the result table in any order. The result format is in the following example.

Input: 
Activity table:
+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+
Output: 
+-----------+-------------+
| player_id | first_login |
+-----------+-------------+
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |
+-----------+-------------+

Solution:

import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:

    activity["first_login"] = activity.groupby("player_id")["event_date"].transform('min')

    return activity[["player_id", "first_login"]].drop_duplicates()

Problem 23: Leetcode Easy 2356. Number of Unique Subjects Taught by Each Teacher

Table: Teacher
+-------------+------+
| Column Name | Type |
+-------------+------+
| teacher_id  | int  |
| subject_id  | int  |
| dept_id     | int  |
+-------------+------+
(subject_id, dept_id) is the primary key (combinations of columns with unique values) of this table.
Each row in this table indicates that the teacher with teacher_id teaches the subject subject_id in the department dept_id.

Write a solution to calculate the number of unique subjects each teacher teaches in the university. Return the result table in any order. The result format is shown in the following example.

Input: 
Teacher table:
+------------+------------+---------+
| teacher_id | subject_id | dept_id |
+------------+------------+---------+
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |
+------------+------------+---------+
Output:  
+------------+-----+
| teacher_id | cnt |
+------------+-----+
| 1          | 2   |
| 2          | 4   |
+------------+-----+
Explanation: 
Teacher 1:
  - They teach subject 2 in departments 3 and 4.
  - They teach subject 3 in department 3.
Teacher 2:
  - They teach subject 1 in department 1.
  - They teach subject 2 in department 1.
  - They teach subject 3 in department 1.
  - They teach subject 4 in department 1.

Solution:

import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:

    # calculate the number of unique subjects each teacher teaches in the university
    df = teacher.groupby("teacher_id")[["subject_id"]].nunique()

    return df.reset_index().rename(columns={"subject_id": "cnt"})

Problem 24: Leetcode Easy 596. Classes More Than 5 Students

Table: Courses
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| student     | varchar |
| class       | varchar |
+-------------+---------+
(student, class) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the name of a student and the class in which they are enrolled.

Write a solution to find all the classes that have at least five students. Return the result table in any order. The result format is in the following example.

Input: 
Courses table:
+---------+----------+
| student | class    |
+---------+----------+
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |
+---------+----------+
Output: 
+---------+
| class   |
+---------+
| Math    |
+---------+
Explanation: 
- Math has 6 students, so we include it.
- English has 1 student, so we do not include it.
- Biology has 1 student, so we do not include it.
- Computer has 1 student, so we do not include it.

Solution 1:

import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:

    # find number of students in each class
    df = courses.groupby("class")[["student"]].count().reset_index()

    # filter to find all the classes that have at least five students
    df = df[df["student"]>=5][["class"]]

    return df

Solution 2:

import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:

    # find number of students in each class
    df = courses.groupby('class').size().reset_index(name='count')

    # filter to find all the classes that have at least five students
    df = df[df['count'] >= 5]

    return df[['class']]

Problem 25: Leetcode Easy 586. Customer Placing the Largest Number of Orders

Table: Orders
+-----------------+----------+
| Column Name     | Type     |
+-----------------+----------+
| order_number    | int      |
| customer_number | int      |
+-----------------+----------+
order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.

Write a solution to find the customer_number for the customer who has placed the largest number of orders. The test cases are generated so that exactly one customer will have placed more orders than any other customer. The result format is in the following example.

Input: 
Orders table:
+--------------+-----------------+
| order_number | customer_number |
+--------------+-----------------+
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |
+--------------+-----------------+
Output: 
+-----------------+
| customer_number |
+-----------------+
| 3               |
+-----------------+
Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
So the result is customer_number 3.

Solution 1:

import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:

    # count the order number for each customer
    df = orders.groupby(["customer_number"])[["order_number"]].count().reset_index()

    # filter the customers with the maximum number of orders
    df = df[df["order_number"]==df["order_number"].max()][["customer_number"]]

    return df

Solution 2:

import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    # If orders is empty, return an empty DataFrame.
    if orders.empty:
        return pd.DataFrame({'customer_number': []})

    df = orders.groupby('customer_number').size().reset_index(name='count')
    df.sort_values(by='count', ascending = False, inplace=True)
    return df[['customer_number']].head(1)

Problem 26: Leetcode Easy 1484. Group Sold Products By The Date

Table Activities:
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| sell_date   | date    |
| product     | varchar |
+-------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each row of this table contains the product name and the date it was sold in a market.

Write a solution to find for each date the number of different products sold and their names. The sold product names for each date should be sorted lexicographically. Return the result table ordered by sell_date. The result format is in the following example.

Input: 
Activities table:
+------------+------------+
| sell_date  | product     |
+------------+------------+
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |
+------------+------------+
Output: 
+------------+----------+------------------------------+
| sell_date  | num_sold | products                     |
+------------+----------+------------------------------+
| 2020-05-30 | 3        | Basketball,Headphone,T-shirt |
| 2020-06-01 | 2        | Bible,Pencil                 |
| 2020-06-02 | 1        | Mask                         |
+------------+----------+------------------------------+
Explanation: 
For 2020-05-30, Sold items were (Headphone, Basketball, T-shirt), we sort them lexicographically and separate them by a comma.
For 2020-06-01, Sold items were (Pencil, Bible), we sort them lexicographically and separate them by a comma.
For 2020-06-02, the Sold item is (Mask), we just return it.

Solution:

import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:

    # sort activities by product in ascending order
    activities = activities.sort_values(by="product")

    # for each sell_date, find the number of unique products and the products list
    df = activities.groupby(["sell_date"]).agg({"product": ["nunique", "unique"]}).reset_index()

    # convert multi-level header to single header
    df.columns = [c[0] + "_" + c[1] for c in df.columns]
    df = df.rename(columns={"sell_date_": "sell_date", "product_nunique": "num_sold", "product_unique": "products"})

    # extract the products from list
    df["products"] = df["products"].apply(','.join)

    df = df.sort_values(by="sell_date")

    return df

Problem 27: Leetcode Easy 1693. Daily Leads and Partners

Table: DailySales
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| date_id     | date    |
| make_name   | varchar |
| lead_id     | int     |
| partner_id  | int     |
+-------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
This table contains the date and the name of the product sold and the IDs of the lead and partner it was sold to.
The name consists of only lowercase English letters.

For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's. Return the result table in any order. The result format is in the following example.

Input: 
DailySales table:
+-----------+-----------+---------+------------+
| date_id   | make_name | lead_id | partner_id |
+-----------+-----------+---------+------------+
| 2020-12-8 | toyota    | 0       | 1          |
| 2020-12-8 | toyota    | 1       | 0          |
| 2020-12-8 | toyota    | 1       | 2          |
| 2020-12-7 | toyota    | 0       | 2          |
| 2020-12-7 | toyota    | 0       | 1          |
| 2020-12-8 | honda     | 1       | 2          |
| 2020-12-8 | honda     | 2       | 1          |
| 2020-12-7 | honda     | 0       | 1          |
| 2020-12-7 | honda     | 1       | 2          |
| 2020-12-7 | honda     | 2       | 1          |
+-----------+-----------+---------+------------+
Output: 
+-----------+-----------+--------------+-----------------+
| date_id   | make_name | unique_leads | unique_partners |
+-----------+-----------+--------------+-----------------+
| 2020-12-8 | toyota    | 2            | 3               |
| 2020-12-7 | toyota    | 1            | 2               |
| 2020-12-8 | honda     | 2            | 2               |
| 2020-12-7 | honda     | 3            | 2               |
+-----------+-----------+--------------+-----------------+
Explanation: 
For 2020-12-8, toyota gets leads = [0, 1] and partners = [0, 1, 2] while honda gets leads = [1, 2] and partners = [1, 2].
For 2020-12-7, toyota gets leads = [0] and partners = [1, 2] while honda gets leads = [0, 1, 2] and partners = [1, 2].

Solution:

import pandas as pd

def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:

    # For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.
    df = daily_sales.groupby(["date_id", "make_name"])[["lead_id", "partner_id"]].nunique()
    df = df.reset_index().rename(columns={"lead_id": "unique_leads", "partner_id": "unique_partners"})

    return df

Problem 28: Leetcode Easy 1050. Actors and Directors Who Cooperated At Least Three Times

Table: ActorDirector
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |
+-------------+---------+
timestamp is the primary key (column with unique values) for this table.

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times. Return the result table in any order. The result format is in the following example.

Input: 
ActorDirector table:
+-------------+-------------+-------------+
| actor_id    | director_id | timestamp   |
+-------------+-------------+-------------+
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |
+-------------+-------------+-------------+
Output: 
+-------------+-------------+
| actor_id    | director_id |
+-------------+-------------+
| 1           | 1           |
+-------------+-------------+
Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

Solution 1:

import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:

    # find the number of pairs
    df = actor_director[["actor_id", "director_id"]].value_counts().reset_index()

    # data filtering
    df = df[df["count"]>=3]

    return df[["actor_id", "director_id"]]

Solution 2:

import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:

    df = actor_director.groupby(['actor_id', 'director_id']).size().reset_index(name='counts')
    df = df[df['counts'] >= 3][['actor_id', 'director_id']]

    return df

Problem 29: Leetcode Easy 1378. Replace Employee ID With The Unique Identifier

Table: Employees
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| name          | varchar |
+---------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.

Table: EmployeeUNI
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| unique_id     | int     |
+---------------+---------+
(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null. Return the result table in any order. The result format is in the following example.

Input: 
Employees table:
+----+----------+
| id | name     |
+----+----------+
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |
+----+----------+
EmployeeUNI table:
+----+-----------+
| id | unique_id |
+----+-----------+
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |
+----+-----------+
Output: 
+-----------+----------+
| unique_id | name     |
+-----------+----------+
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |
+-----------+----------+
Explanation: 
Alice and Bob do not have a unique ID, We will show null instead.
The unique ID of Meir is 2.
The unique ID of Winston is 3.
The unique ID of Jonathan is 1.

Solution:

import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    
    df = employee_uni.merge(employees, how="outer")
    df = df[["unique_id", "name"]].dropna(subset=["name"])

    return df

Problem 30: Leetcode Easy 1280. Students and Examinations

Table: Students
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| student_id    | int     |
| student_name  | varchar |
+---------------+---------+
student_id is the primary key (column with unique values) for this table.
Each row of this table contains the ID and the name of one student in the school.

Table: Subjects
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| subject_name | varchar |
+--------------+---------+
subject_name is the primary key (column with unique values) for this table.
Each row of this table contains the name of one subject in the school.

Table: Examinations
+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| student_id   | int     |
| subject_name | varchar |
+--------------+---------+
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID student_id attended the exam of subject_name.

Write a solution to find the number of times each student attended each exam. Return the result table ordered by student_id and subject_name. The result format is in the following example.

Input: 
Students table:
+------------+--------------+
| student_id | student_name |
+------------+--------------+
| 1          | Alice        |
| 2          | Bob          |
| 13         | John         |
| 6          | Alex         |
+------------+--------------+
Subjects table:
+--------------+
| subject_name |
+--------------+
| Math         |
| Physics      |
| Programming  |
+--------------+
Examinations table:
+------------+--------------+
| student_id | subject_name |
+------------+--------------+
| 1          | Math         |
| 1          | Physics      |
| 1          | Programming  |
| 2          | Programming  |
| 1          | Physics      |
| 1          | Math         |
| 13         | Math         |
| 13         | Programming  |
| 13         | Physics      |
| 2          | Math         |
| 1          | Math         |
+------------+--------------+
Output: 
+------------+--------------+--------------+----------------+
| student_id | student_name | subject_name | attended_exams |
+------------+--------------+--------------+----------------+
| 1          | Alice        | Math         | 3              |
| 1          | Alice        | Physics      | 2              |
| 1          | Alice        | Programming  | 1              |
| 2          | Bob          | Math         | 1              |
| 2          | Bob          | Physics      | 0              |
| 2          | Bob          | Programming  | 1              |
| 6          | Alex         | Math         | 0              |
| 6          | Alex         | Physics      | 0              |
| 6          | Alex         | Programming  | 0              |
| 13         | John         | Math         | 1              |
| 13         | John         | Physics      | 1              |
| 13         | John         | Programming  | 1              |
+------------+--------------+--------------+----------------+
Explanation: 
The result table should contain all students and all subjects.
Alice attended the Math exam 3 times, the Physics exam 2 times, and the Programming exam 1 time.
Bob attended the Math exam 1 time, the Programming exam 1 time, and did not attend the Physics exam.
Alex did not attend any exams.
John attended the Math exam 1 time, the Physics exam 1 time, and the Programming exam 1 time.

Solution:

import pandas as pd

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    
    # Group by student_id and subject_name to count the number of exams
    grouped = examinations.groupby(['student_id', 
                                    'subject_name']).size().reset_index(name='attended_exams')

    # Get all combinations of (id, subject) 
    combinations = pd.merge(students, subjects, how='cross')

    # Left join to retain all combinations
    df = pd.merge(combinations, grouped, 
                  on=['student_id', 'subject_name'], 
                  how='left')
    
    # Data cleaning
    df['attended_exams'] = df['attended_exams'].fillna(0).astype(int)
    
    # Sort DataFrame in ascending based on 'student_id', 'subject_name'
    df.sort_values(['student_id', 'subject_name'], inplace=True)

    return df[['student_id', 'student_name', 'subject_name', 'attended_exams']]

Problem 31: Leetcode Medium 570. Managers with at Least 5 Direct Reports

Table: Employee
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.

Write a solution to find managers with at least five direct reports. Return the result table in any order. The result format is in the following example.

Input: 
Employee table:
+-----+-------+------------+-----------+
| id  | name  | department | managerId |
+-----+-------+------------+-----------+
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |
+-----+-------+------------+-----------+
Output: 
+------+
| name |
+------+
| John |
+------+

Solution 1:

import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:

    # count and filter "managerId"
    mask = pd.DataFrame(employee["managerId"].value_counts()>=5)
    mask = mask[mask["count"]==True].index.tolist()

    # filter where employee id == manager id
    employee = employee[employee["id"].isin(mask)][["name"]]

    return employee

Solution 2:

import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    
    # find the number of reports for each manager id
    df = employee.groupby('managerId').size().reset_index(name='count')

    # count and filter "managerId"
    df = df[df['count'] >= 5]

    # find managers with at least five direct reports
    managers_info = pd.merge(df, employee, left_on='managerId', right_on='id', how='inner')
    
    return managers_info[['name']]

Problem 32: Leetcode Easy 607. Sales Person

Table: SalesPerson
+-----------------+---------+
| Column Name     | Type    |
+-----------------+---------+
| sales_id        | int     |
| name            | varchar |
| salary          | int     |
| commission_rate | int     |
| hire_date       | date    |
+-----------------+---------+
sales_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.

Table: Company
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| com_id      | int     |
| name        | varchar |
| city        | varchar |
+-------------+---------+
com_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a company and the city in which the company is located.

Table: Orders
+-------------+------+
| Column Name | Type |
+-------------+------+
| order_id    | int  |
| order_date  | date |
| com_id      | int  |
| sales_id    | int  |
| amount      | int  |
+-------------+------+
order_id is the primary key (column with unique values) for this table.
com_id is a foreign key (reference column) to com_id from the Company table.
sales_id is a foreign key (reference column) to sales_id from the SalesPerson table.
Each row of this table contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.

Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name “RED”. Return the result table in any order. The result format is in the following example.

Input: 
SalesPerson table:
+----------+------+--------+-----------------+------------+
| sales_id | name | salary | commission_rate | hire_date  |
+----------+------+--------+-----------------+------------+
| 1        | John | 100000 | 6               | 4/1/2006   |
| 2        | Amy  | 12000  | 5               | 5/1/2010   |
| 3        | Mark | 65000  | 12              | 12/25/2008 |
| 4        | Pam  | 25000  | 25              | 1/1/2005   |
| 5        | Alex | 5000   | 10              | 2/3/2007   |
+----------+------+--------+-----------------+------------+
Company table:
+--------+--------+----------+
| com_id | name   | city     |
+--------+--------+----------+
| 1      | RED    | Boston   |
| 2      | ORANGE | New York |
| 3      | YELLOW | Boston   |
| 4      | GREEN  | Austin   |
+--------+--------+----------+
Orders table:
+----------+------------+--------+----------+--------+
| order_id | order_date | com_id | sales_id | amount |
+----------+------------+--------+----------+--------+
| 1        | 1/1/2014   | 3      | 4        | 10000  |
| 2        | 2/1/2014   | 4      | 5        | 5000   |
| 3        | 3/1/2014   | 1      | 1        | 50000  |
| 4        | 4/1/2014   | 1      | 4        | 25000  |
+----------+------------+--------+----------+--------+
Output: 
+------+
| name |
+------+
| Amy  |
| Mark |
| Alex |
+------+
Explanation: 
According to orders 3 and 4 in the Orders table, it is easy to tell that only salesperson John and Pam have sales to company RED, so we report all the other names in the table salesperson.

Solution 1:

import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    # separate company ids for the "RED" companies
    red_code = company[company["name"] == "RED"]["com_id"]

    # separate the sales ids from the "RED" companies
    red_sales = orders[orders["com_id"].isin(red_code)]["sales_id"]
    
    # find the salespersons who didn't have any orders related to the company "RED"
    non_red_sales = sales_person[~sales_person["sales_id"].isin(red_sales)][['name']]
    
    return non_red_sales

Solution 2:

import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    # merge orders and company based on company id
    df = orders.merge(company, on='com_id')

    # find the unique sales id of the RED company
    invalid_ids = df[df['name'] == 'RED']["sales_id"].unique()

    # find the sales persons who are not related to the company RED
    salespersons = sales_person[~sales_person['sales_id'].isin(invalid_ids)]    

    return salespersons[['name']]

Problem 33: Leetcode Medium 2041. Accepted Candidates From the Interviews

Table: Candidates
+--------------+----------+
| Column Name  | Type     |
+--------------+----------+
| candidate_id | int      |
| name         | varchar  |
| years_of_exp | int      |
| interview_id | int      |
+--------------+----------+
candidate_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of a candidate, their number of years of experience, and their interview ID.

Table: Rounds
+--------------+------+
| Column Name  | Type |
+--------------+------+
| interview_id | int  |
| round_id     | int  |
| score        | int  |
+--------------+------+
(interview_id, round_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the score of one round of an interview.

Write a solution to report the IDs of the candidates who have at least two years of experience and the sum of the score of their interview rounds is strictly greater than 15. Return the result table in any order. The result format is in the following example.

Input: 
Candidates table:
+--------------+---------+--------------+--------------+
| candidate_id | name    | years_of_exp | interview_id |
+--------------+---------+--------------+--------------+
| 11           | Atticus | 1            | 101          |
| 9            | Ruben   | 6            | 104          |
| 6            | Aliza   | 10           | 109          |
| 8            | Alfredo | 0            | 107          |
+--------------+---------+--------------+--------------+
Rounds table:
+--------------+----------+-------+
| interview_id | round_id | score |
+--------------+----------+-------+
| 109          | 3        | 4     |
| 101          | 2        | 8     |
| 109          | 4        | 1     |
| 107          | 1        | 3     |
| 104          | 3        | 6     |
| 109          | 1        | 4     |
| 104          | 4        | 7     |
| 104          | 1        | 2     |
| 109          | 2        | 1     |
| 104          | 2        | 7     |
| 107          | 2        | 3     |
| 101          | 1        | 8     |
+--------------+----------+-------+
Output: 
+--------------+
| candidate_id |
+--------------+
| 9            |
+--------------+
Explanation: 
- Candidate 11: The total score is 16, and they have one year of experience. We do not include them in the result table because of their years of experience.
- Candidate 9: The total score is 22, and they have six years of experience. We include them in the result table.
- Candidate 6: The total score is 10, and they have ten years of experience. We do not include them in the result table because the score is not good enough.
- Candidate 8: The total score is 6, and they have zero years of experience. We do not include them in the result table because of their years of experience and the score.

Solution:

import pandas as pd

def accepted_candidates(candidates: pd.DataFrame, rounds: pd.DataFrame) -> pd.DataFrame:

    # filter candidates with at least 2 years of experience
    candidates = candidates[candidates["years_of_exp"]>=2]

    # Left join rounds and candidates based on the "interview_id"
    rounds = rounds.merge(candidates, how="left")

    # for each candidate_id, find the sum of score
    rounds = rounds.groupby(["candidate_id"])[["score"]].sum().reset_index()

    # filter higher scoring candidates
    rounds = rounds[rounds["score"]>15]

    return rounds[["candidate_id"]]